<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    ©Clip Code Challenge 2021 Copyright: <a href="https://github.com/androidexj9">androidexj9</a> v1.0.0
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->